<% content_for :title do %>About<% end %>

<h3>About the Website</h3>
<p>
  This web application was created with
  <%= link_to('Rails', 'http://rubyonrails.org/') %>
  from the <%= link_to('Rails project', 'https://github.com/rails/rails') %>.
</p>
