<div class="well">
  <h4>Categories</h4>
  <div class="row">
    <div class="col-lg-6">
      <ul class="list-unstyled">
        <% Category.all.each do |category| %>
          <li>
            <%= link_to category.name, posts_path(category_id: category.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
