<div class="container">
  <div class="row">
    <!-- Blog Entries Column
    -->
    <div class="col-md-8">
      <h1 class="page-header">
        Blog
        <small>Best Blog in the World!</small>
      </h1>
      <!-- posts
      -->
      <%= render partial: 'posts_preview' %>
      <!-- Pagination
      -->
      <ul class="pager">
        <li class="previous">
          <a href="#">Prev</a>
        </li>
        <li class="next">
          <a href="#">Next</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <%= render partial: 'search' %>
      <%= render partial: 'categories' %>
      <%= render partial: 'side_widget' %>
    </div>
    <hr/>
    <!-- Footer
    -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright Best Blog in the World! 2017</p>
        </div>
      </div>
    </footer>
  </div>
</div>
