<h1>Create new Post</h1>
<%= simple_form_for @post do |f| %>
  <div class="form-inputs">
    <%= f.input :title, placeholder: 'Enter title' %>
    <%= f.input :content, as: :text, placeholder: 'Content' %>
  </div>
  <%= f.button :submit, 'Create post' %>
<% end %>
