<div class='container'>
  <div class='row'>
    <!-- Blog Post Content Column -->
    <div class='col-lg-8'>
      <!-- Blog Post -->
      <hr>
      <br>
      <div class='well'>
        <h4>Leave a Comment:</h4>
      </div>
      <hr>
    </div>
    <!-- Blog Sidebar Widgets Column -->
    <div class='col-md-4'>
    </div>
  </div>
  <hr>
  <!-- Footer -->
  <footer>
    <div class='row'>
      <div class='col-lg-12'>
        <p>Copyright © Your Website 2017</p>
      </div>
    </div>
  </footer>
</div>
